#title{
 
}
h1{
  font-size: 53px;
  font-family: poppins;
  text-align: center;
  color: black;
}

h2{
  font-size: 23px;
  font-family: poppins;
  text-align: center;
  color: grey;
}

#img-div{
  
}

#image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
 
}

#img-caption{
  text-align: center;
  font-family: calibri;
  color: black;
  font-size: 15px;
  padding: 10px;
}

#tribute-info{  
}

h3{
 text-align: center;
  font-family: poppins;
  color: black;
  font-size: 22px;  
}

#div1{
  background-color: #F2F3F4;
  
}

ul{
  font-family: calibri;
  text-align: justify;
  margin: auto;
  width: 50%;
}

p{
  text-align: center;
  margin: auto;

}

#cita{
  padding: 25px;
}

#p1{
 text-align: center;
 font-size: 19px;
 font-family: calibri;
 color: #616A6B;
}
